* { padding:0; margin:0; position:relative;}

.background {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.title {
    padding: 20px;
    max-width: 80%;
    height: auto;
}

.navigation {
    position: absolute;
}

.button {
    position: absolute;
}

.pictures {
    position: absolute;
}

#titlePage {
    background-image: url("../images/backgrounds/bg_1.png");
}
#aboutMe {
    background-image: url("../images/backgrounds/bg_2.png");
}
#myPortfolio {
    background-image: url("../images/backgrounds/bg_3.png");
}
#myMusic {
    background-image: url("../images/backgrounds/bg_4.png");
}
#contactMe {
    background-image: url("../images/backgrounds/bg_5.png");
}

#header1 {
    padding-left: 20px;
    padding-top: 5px;
}

#raindrop1 {
    top: 17px;
    right: 84px;
}
#raindrop2 {
    top: 15px;
    right: 14px;
}
#raindrop3 {
    top: 97px;
    right: 26px;
}
#raindrop4 {
    top: 82px;
    right: 92px;
}

#raindropSymbol1 {
    top: 34px;
    right: 108px;
}
#raindropSymbol2 {
    top: 47px;
    right: 31px;
}
#raindropSymbol3 {
    top: 118px;
    right: 43px;
}
#raindropSymbol4 {
    top: 110px;
    right: 115px;
}

#sun0 {
    top: 0px;
    left: 0px;
}
#sun0 {
    top: 0px;
    left: 0px;
}
#sun1 {
    top: 6px;
    left: 208px;
}
#sun2 {
    top: 82px;
    left: 166px;
}
#sun3 {
    top: 140px;
    left: 94px;
}
#sun4 {
    top: 171px;
    left: 7px;
}
#sunSymbol1 {
    top: 40px;
    left: 227px;
}
#sunSymbol2 {
    top: 108px;
    left: 195px;
}
#sunSymbol3 {
    top: 169px;
    left: 123px;
}
#sunSymbol4 {
    top: 190px;
    left: 30px;
}

#bubble1 {
    top: 20px;
    right: 20px;
}
#bubble2 {
    top: 28px;
    right: 89px;
}
#bubble3 {
    top: 87px;
    right: 27px;
}
#bubble4 {
    top: 110px;
    right: 104px;
}
#bubbleSymbol1 {
    top: 127px;
    right: 132px;
}
#bubbleSymbol2 {
    top: 48px;
    right: 108px;
}
#bubbleSymbol3 {
    top: 102px;
    right: 46px;
}
#bubbleSymbol4 {
    top: 36px;
    right: 34px;
}

#notes0 {
    top: 2px;
    left: 4px;
}
#notes1 {
    top: 100px;
    left: 83px;
}
#notes2 {
    top: 87px;
    left: 127px;
}
#notes3 {
    top: 75px;
    left: 150px;
}
#notes4 {
    top: 83px;
    left: 183px;
}
#notesSymbol1 {
    top: 191px;
    left: 92px;
}
#notesSymbol2 {
    top: 93px;
    left: 133px;
}
#notesSymbol3 {
    top: 135px;
    left: 158px;
}
#notesSymbol4 {
    top: 87px;
    left: 191px;
}

#leaf1 {
    top: -80px;
    right: -10px;
}
#leaf2 {
    top: 18px;
    right: 21px;
}
#leaf3 {
    top: 96px;
    right: 27px;
}
#leaf4 {
    top: 93px;
    right: 70px;
}
#leafSymbol1 {
    top: 36px;
    right: 115px;
}
#leafSymbol2 {
    top: 50px;
    right: 37px;
}
#leafSymbol3 {
    top: 128px;
    right: 40px;
}
#leafSymbol4 {
    top: 106px;
    right: 125px;
}

#birds1 {
    top: 80px;
    left: 265px;
}
#sailboat {
    top: 306px;
    right: 190px;
}
#climbers {
    top: 196px;
    left: 430px;
}
#birds2 {
    top: 15px;
    left: 200px;
}
#plane {
    top: 330px;
    right: 220px;
}


#nav1 {
    top: 0px;
    right: 0px;
    width: 250px;
    height: 200px;
}
#nav2 {
    top: -4px;
    left: -4px;
    width: 250px;
    height: 200px;
}

